blinker
certifi
chardet
charset-normalizer
click
cryptography
dacite
dbus-python
distro
distro-info
Flask
gunicorn
httplib2
idna
importlib-metadata
itsdangerous
jeepney
Jinja2
joblib
keyring
launchpadlib
lazr.restfulclient
lazr.uri
MarkupSafe
more-itertools
mypy
mypy-extensions
netifaces
numpy
oauthlib
packaging
PyGObject
PyJWT
pyparsing
python-apt
PyYAML
requests
responses
scikit-learn
scipy
SecretStorage
six
systemd-python
threadpoolctl
tomli
types-PyYAML
types-requests
types-urllib3
typing_extensions
ubuntu-advantage-tools
ufw
unattended-upgrades
urllib3
wadllib
Werkzeug
zipp

